<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLConverter.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLConverter.Properties.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="XMLConverter.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
    <userSettings>
        <XMLConverter.Global>
            <setting name="OutputFile" serializeAs="String">
                <value>\output\out.xml</value>
            </setting>
        </XMLConverter.Global>
    </userSettings>
    <applicationSettings>
        <XMLConverter.Properties.Global>
            <setting name="XmlMapperFile" serializeAs="String">
                <value>\Mapper\Mapper.xml</value>
            </setting>
            <setting name="XmlTemplate" serializeAs="String">
                <value>\Mapper\Template.xml</value>
            </setting>
            <setting name="OutputXmlFile" serializeAs="String">
                <value>\output\Out.xml</value>
            </setting>
            <setting name="MapperSchemaFile" serializeAs="String">
                <value>\Mapper\Mapper.xsd</value>
            </setting>
        </XMLConverter.Properties.Global>
        <XMLConverter.Global>
            <setting name="SourceXmlFile" serializeAs="String">
                <value>\source\in.xml</value>
            </setting>
            <setting name="XmlMapperFile" serializeAs="String">
                <value>mapper.xml</value>
            </setting>
            <setting name="DestinationTemplateFile" serializeAs="String">
                <value>template.xml</value>
            </setting>
        </XMLConverter.Global>
    </applicationSettings>



  <log4net>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="converter.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Amazon" />
        <acceptOnMatch value="false" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
  </log4net>


</configuration>